*{
    margin: 0px;
    padding: 0px;
}

/*-------------------------
 HEADER
--------------------------*/
header{
    background: #f9c10b;
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #ffff;
    font-size: 50px;
    border-radius: 6px;
}

/*-------------------------
  NAVIGATION
--------------------------*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: block;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #555;
    padding: 10px;
    transition: .2s ease-in-out;
}

nav ul li a:hover{
    background: #f9c10b;
    color: #ffff;
    border-radius: 6px;
}

.logo {
    font-size: 35px;
    font-family: Arial;
    user-select: auto;
    color: #f9c10b;
    font-weight: bold;
    margin-left: 40px;
}

.full-meaning {
    display: none;
    position: absolute;
    background-color: #dc3545;
    border-radius: 100px;
    padding: 10px;
    color: #ffff;
    border: 1px solid #ccc;
    font-size: 10px;
    top: 86px;
    margin-left: 160px;
    transition: 0.3s ease;
}
  
.logo:hover .full-meaning {
    display: block;
}